[Unit]
Description=Refine and improve SMARTS patterns

[Service]
User=compchemapps
WorkingDirectory=/home/export/compchemapps/webapps/smarter-smarts
ExecStart=/home/export/compchemapps/webapps/smarter-smarts/start_server.sh 8082
Restart=always

[Install]
WantedBy=multi-user.target
